<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.es.dao.ums.UserDao">
	<!-- 用户登录 -->
	<select id="getUser" parameterType="Map"  resultType="Map">
		SELECT 
			a.USER_ID,a.ACCOUNT,a.NICKNAME,a.AVATAR,a.PASSWD
		FROM user a
		WHERE 
			DEL_FLAG = '0'
			AND
			(
				ACCOUNT = #{username} 
				OR
				EMAIL = #{username} 
				OR
				MOBILE_PHONE = #{username} 
			)
	</select>
	
	<!-- 获取用户角色 -->
	<select id="getRoleList" parameterType="Map"  resultType="Map">
		SELECT
			a.ROLE_ID,a.ROLE_CODE
		FROM role a
		INNER JOIN user_role_relation b ON b.ROLE_ID = a.ROLE_ID
		INNER JOIN `user` c ON c.USER_ID = b.USER_ID AND c.USER_ID = #{userId}
	</select>
	
</mapper>